<div class="title-orders">
  <% if @orders.count==1 %>
        <h1 class="text-center">Your order</h1>
      <% else %>
        <h1 class="text-center">Your previous orders</h1>
      <% end %>
</div>

<div class="cards-orders">
    <% @orders.reverse.each do |order| %>
      <div class="card-order">
        <% order.meals.each do |meal| %>
          <img src="<%= meal.image %>" class="image-background">
        <% end %>
        <p class="issued-on"><%= order.created_at.to_date %></p>
        <div class="full-order">
          <div class="order-detail">
            <h4 class="meal-name"><% order.meals.each do |meal| %>
              <%= meal.name %>
            <% end %></h4>
            <p class="order-desc"><% order.meals.each do |meal| %>
              <strong>Restaurant: </strong><%= meal.restaurant.name %>
            <% end %></p>
            <p class="order-desc"><strong>Cuisine: </strong><% order.meals.each do |meal| %>
              <% meal.food_categories.each do |food_category| %>
                <%= food_category.cuisine_area %>
              <% end %>
            <% end %></p>
          </div>
          <div class="make-review">
            <p class="order-price"><%= humanized_money_with_symbol order.amount %></p>
            <%= link_to 'Leave a review', 'orders/new', class: "btn btn-flat-dashboard" %>
          </div>
        </div>
      </div>
    <% end %>
</div>
