<div class="container">
  <%= simple_form_for(@order) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
    <div id="category_area_input" data-category-area="<%= @cuisine_area_to_categories.to_json %>">
      <%= f.input :food_category_ids, as: :check_boxes, collection: @cuisine_areas, label_method: :cuisine_area, include_hidden: false %>
    </div>
    <div id="category_type_input">
      <%= f.input :food_category_ids, as: :check_boxes, collection: @food_types, label_method: :food_type, include_hidden: false %>
    </div>
      <%= f.input :number_of_meals %>
      <%= f.input :budget, required: true, collection: 15..100 %>
      <%= f.input :delivery_time, required: true, collection: 15..120 %>
      <%= f.input :option_category, as: :radio_buttons,
      required: true,
      collection: [["I'm feeling lucky", "lucky"], ["I'm feeling cautious", "cautious"]], include_hidden: false %>
    </div>

  <%# <div class="form-actions">
    <%= f.button :submit %>
  <%# </div> %>
  <button id="pay" class="btn btn-flat mb-3">Next</button>
<% end %>
