<div class="container">
  <%= simple_form_for(@order) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.simple_fields_for @order_ingredient do |p|%>
        <%= render 'order_ingredients_fields', f: p %>
      <% end %>
    </div>
    <div class="form-inputs">
      <div id="category_area_input" data-category-area="<%= @cuisine_area_to_categories.to_json %>">
        <%= f.input :food_categories, as: :check_boxes, include_hidden: false, collection: @cuisine_areas, label_method: :cuisine_area, input_html: { class: "cuisine-pick-form " }, wrapper_html: { class: "cuisine-pick-container" }, :label => "Preffered Cuisine Areas" %>
      </div>

      <div id="category_type_input">
        <%= f.input :food_categories, as: :check_boxes,
        collection: @food_types,
        label_method: :food_type, include_hidden: false,
        input_html: { class: "cuisine-pick-form " },
        wrapper_html: { class: "cuisine-pick-container" },
        :label => "Preffered Food Type" %>
      </div>
      <div class="form-inputs">
        <%= f.input :number_of_meals, collection: 1..10, default: 1 %>
      </div>
      <div class="form-inputs">
        <%= f.input :budget, required: true, collection: 15..100 %>
      </div>
      <div class="form-inputs">
        <%= f.input :delivery_time, required: true, collection: 15..120 %>
      </div>
      <div class="form-inputs">
        <%= f.input :option_category, as: :radio_buttons,
        required: true, include_hidden: false,
        wrapper_html: { class: "cuisine-pick-container" },
        # collection_wrapper_tag: 'div',
        # item_wrapper_class: 'category-item',
            input_html: {class: 'pick-option-radio'},
            collection: ['I am feeling lucky', 'I am feeling cautious'] %>
      </div>
      <button id="pay" class="btn btn-flat mb-3">Next</button>
    </div>
  <% end %>
</div>
