<div class="container">

  <h1 class="text-center font-weight-bold">Order details</h1>
  <h2 class="text-center">Please fill in your personal information</h2>


  <%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div id="accordion">

      <div class="form-inputs">

        <%= f.simple_fields_for @order_ingredient do |p|%>
          <%= render 'order_ingredients_fields', f: p %>
        <% end %>


        <div class="card">

          <div class="card-header" id="headingTwo">
            <h3 class="mb-0">
              <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>What I'm in the mood for food</strong>
              </button>
            </h3>
          </div>


          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

              <div id="category_area_input" data-category-area="<%= @cuisine_area_to_categories.to_json %>">
                <%= f.input :food_category_ids, as: :check_boxes, collection: @cuisine_areas, label_method: :cuisine_area, input_html: { class: "cuisine-pick-form " }, wrapper_html: { class: "cuisine-pick-container" }, :label => "Preffered Cuisine Areas" %>
              </div>

              <div id="category_type_input">
                <%= f.input :food_category_ids, as: :check_boxes, collection: @food_types, label_method: :food_type, input_html: { class: "cuisine-pick-form " }, wrapper_html: { class: "cuisine-pick-container" }, :label => "Preffered Food Type"  %>
              </div>

            </div>
          </div>

        </div>

        <div class="card">

          <div class="card-header" id="headingThree">
            <h3 class="mb-0">
              <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Additional meals</strong>
              </button>
            </h3>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="nested-fields">
                <%= f.input :number_of_meals %>
              </div>
            </div>
          </div>

        </div>

        <div class="card">

          <div class="card-header" id="headingFour">
            <h3 class="mb-0">
              <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <strong>Budget and Waiting time</strong>
              </button>
            </h3>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <div class="nested-fields">
                <%= f.input :budget, required: true, collection: 15..100, placeholder: '€' %>
                <%= f.input :delivery_time, required: true, collection: 15..120, placeholder: 'min.' %>
              </div>
            </div>
          </div>

        </div>

        <div class="card">

          <div class="card-header" id="headingFive">
            <h3 class="mb-0">
              <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <strong>How lucky do you feel today?</strong>
              </button>
            </h3>
          </div>

          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              <div class="nested-fields">
                <%= f.input :option_category, as: :radio_buttons,
                required: true,
                collection: [["I'm feeling lucky", "lucky"], ["I'm feeling cautious", "cautious"]], include_hidden: false %>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  <%# <div class="form-actions">
    <%= f.button :submit %>
  <%# </div> %>
  <div class="text-center mt-3">
    <button id="pay"  class= "btn btn-lg rounded btn-secondary">Next</button>
  </div>

  <% end %>

</div>
