<div class="container">
  <h1 class="text-center font-weight-bold">Order details</h1>
  <h3 class="text-center">Fill in a few criteria to make sure you get the most appropriate meal.</h3>

  <%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div id="accordion">
    <div class="form-inputs">
      <%= f.input :address, input_html: {value: params[:search], hidden: true}, label: false %>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h3 class="mb-0">
          <button type="button" class="btn btn-link expanded"
                  data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
          <strong>Mood for food</strong>
          </button>
          </h3>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="nested-fields" %>
              <div data-controller='checkbox-select-all'>
                <div id="category_area_input" data-category-area="<%= @cuisine_area_to_categories.to_json %>" %>
                  <%= f.input :food_category_ids, as: :check_boxes,
                    collection: @cuisine_areas, label_method: :cuisine_area,
                    input_html: { class: "cuisine-pick-form ", data: { target_checkbox_select_all: 'checkbox' } },
                    wrapper_html: { class: "cuisine-pick-container" },
                    :label => "Select preferred Cuisines (at least one)",
                    include_hidden: false, checked: true
                  %>
                </div>
              </div>
              <div class="cuisine-pick-container" id="select_all">
                <input type="checkbox" value="Select All / Deselect All" class="cuisine-pick-form"  data-checkbox-select-all-target="checkboxAll" />
              <label for="select_all">Select all</label>
              </div>
              <div id="category_type_input">
                <%= f.input :food_category_ids, as: :check_boxes,
                  collection: @food_types,
                  label_method: :food_type,
                  input_html: { class: "cuisine-pick-form" },
                  wrapper_html: { class: "cuisine-pick-container" },
                  :label => "Preferred food types",
                  include_hidden: false
                %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h3 class="mb-0">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>Personal preferences</strong>
            </button>
          </h3>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="nested-fields">
              <%= f.simple_fields_for @order_ingredient do |p|%>
                <%= render 'order_ingredients_fields', f: p %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h3 class="mb-0">
            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Total number of meals</strong>
            </button>
          </h3>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <div class="nested-fields">
              <%= f.input :number_of_meals, collection: 1..10, default: 1 %>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h3 class="mb-0">
            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <strong>Budget and Waiting time</strong>
            </button>
          </h3>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <div class="nested-fields">
              <%= f.input :budget, required: true, placeholder: '€' %>
              <%= f.input :delivery_time, required: true, placeholder: 'min.' %>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h3 class="mb-0">
            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <strong>How lucky do you feel today?</strong>
            </button>
          </h3>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            <div class="nested-fields">
              <%= f.input :option_category, as: :radio_buttons,
                required: true, include_hidden: false,
                wrapper_html: { class: "cuisine-pick-container" },
                # collection_wrapper_tag: 'div',
                # item_wrapper_class: 'category-item',
                input_html: {class: 'pick-option-radio'},
                collection: ['I am feeling lucky', 'I am feeling cautious'] %>
            </div>
          </div>
        </div>
  <% end %>
</div>
