<div class="container">
<h1>Order summary</h1>
  <h2>Here is what you got!</h2>

  <h2>
    <strong><% @order.meals.each do |meal| %>
      <%= meal.name %>
    <% end %></strong>
  </h2>
  <p>
    <strong><% @order.meals.each do |meal| %>
      <%= meal.description %>
    <% end %></strong>
  </p>

  <div>
    <ul class="list-unstyled">
      <li><strong>Restaurant:</strong> <% @order.meals.each do |meal| %>
        <% meal.restaurant.name %>
      <% end %></li>
      <li><strong>Cuisine:</strong> <% @order.meals.each do |meal| %>
        <% meal.food_categories.each do |food_category| %>
          <%= food_category.cuisine_area %>
        <% end %>
      <% end %></li>
      <li><strong>Option chosen:</strong> <%= @order.option_category %></li>
      <li><strong>Issued on:</strong> <%= @order.created_at.to_date %></li>
      <li><strong>TOTAL:</strong> <%= humanized_money_with_symbol @order.amount %></li>
      </li>
    </ul>
    <p>Estimated delivery in <strong><%= @order.delivery_time %> minutes.</strong> Bon appétit!</p>
  </div>
  <%= link_to 'My orders', orders_path, class: "btn btn-flat-dashboard" %>
</div>
