    <% if @order.option_category == 'I am feeling lucky' %>
      <div class="mt-3 order-summary">
        <h2 class="text-center lucky"><strong>Order summary</strong></h2>
      </div>
    <% else %>
      <h2 class="text-center cautious"><strong>I'm feeling <em>cautious</em></strong></h2>
    <% end %>
<div class="container-checkout">
  <% if @order.option_category == 'I am feeling lucky' %>
    <h3 class="text-center" style="margin-top: 8px;">Thank you for your order <%= @order.user.first_name %>!</h3>
  <% else %>
    <h3 class="text-center" style="margin-top: 8px;">Here is what you got! Happy?</h3>
  <% end %>

  <% if @order.option_category == 'I am feeling lucky' %>
    <p class="text-center mt-2">
      <a class="btn btn-flat-landing" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Reveal your meal
      </a>
    </p>
  <% end %>

  <% if @order.option_category == 'I am feeling lucky' %>
    <div class="main-checkout row">
      <%= render "show_lucky" %>
      <div class="row d-block d-sm-none text-center">
        <%= render "show_buttons" %>
      </div>
      <div id="map" class="col-12 col-sm-5"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="row d-none d-md-block text-center">
      <%= render "show_buttons" %>
    </div>
  <% else %>
    <div class="main-checkout">
      <%= render "show_cautious" %>
      <div class="row d-block d-sm-none text-center">
        <%= render "show_buttons" %>
      </div>
      <div id="map" class="col-12 col-sm-5"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="row d-none d-md-block text-center">
      <%= render "show_buttons" %>
    </div>
  <% end %>
</div>
