<div class="container">
  <h2>Order summary</h2>
  <h1 class="text-center">Here is what you got!</h1>

  <div class="card-checkout">
    <img src="https://cdn.tasteatlas.com//images/dishes/ad3ef1fb39eb42958e7462961951e45c.jpg?w=905&h=510" class="image-background">
    <p class="issued-on"><%= @order.created_at.to_date %></p>
    <div class="full-checkout">
      <div class="checkout-main">
        <h2 class="meal-name">
          <strong><% @order.meals.each do |meal| %>
            <%= meal.name %>
          <% end %></strong>
        </h2>
        <p class="checkout-desc">
          <strong><% @order.meals.each do |meal| %>
            <%= meal.description %>
          <% end %></strong>
        </p>
      </div>
      <div class="checkout-detail">
        <ul class="list-unstyled">
          <li><strong>Restaurant:</strong> <% @order.meals.each do |meal| %>
            <% meal.restaurant.name %>
          <% end %></li>
          <li><strong>Cuisine:</strong> <% @order.meals.each do |meal| %>
            <% meal.food_categories.each do |food_category| %>
              <%= food_category.cuisine_area %>
            <% end %>
          <% end %></li>
          <li><strong>Option chosen:</strong> <%= @order.option_category %></li>
          <li><strong>Issued on:</strong> <%= @order.created_at.to_date %></li>
        </ul>
        <div class="checkout-price">
          <strong>TOTAL:</strong> <%= humanized_money_with_symbol @order.amount %>
        </div>
      </div>
    </div>
  </div>
  <div class="timing-my-orders">
    <p>Estimated delivery in <strong><%= @order.delivery_time %> minutes.</strong> Bon appétit!</p>
    <%= link_to 'My orders', orders_path, class: "btn btn-flat-dashboard" %>
  </div>
</div>
