<div class="container-checkout">
  <div class="container">
    <h3>Order summary</h3>
  </div>
  <h1 class="text-center">Here is what you got!</h1>

  <div class="main-checkout">
    <div class="card-checkout">
      <div class="container-image-checkout">
        <img src="https://cdn.tasteatlas.com//images/dishes/ad3ef1fb39eb42958e7462961951e45c.jpg?w=905&h=510" class="image-background-checkout">
      </div>
      <div class="full-checkout">
        <p class="issued-on-checkout"><%= @order.created_at.to_date %></p>
        <div class="checkout-main">
          <h2><strong><% @order.meals.each do |meal| %>
              <%= meal.name %>
            <% end %></strong>
          </h2>
          <p><% @order.meals.each do |meal| %>
              <%= meal.description %>
            <% end %>
          </p>
        </div>
        <div class="checkout-detail">
          <ul class="list-unstyled">
            <li><strong>Restaurant<br></strong> <% @order.meals.each do |meal| %>
              <% meal.restaurant.name %>
            <% end %></li>
            <li><strong>Cuisine<br></strong> <% @order.meals.each do |meal| %>
              <% meal.food_categories.each do |food_category| %>
                <%= food_category.cuisine_area %>
              <% end %>
            <% end %></li>
            <li><strong>Option chosen<br></strong> <%= @order.option_category %></li>
          </ul>
          <div class="checkout-price">
            <strong>TOTAL:</strong> <%= humanized_money_with_symbol @order.amount %>
          </div>
        </div>
      </div>
    </div>
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="timing-my-orders">
    <p>Estimated delivery in <strong><%= @order.delivery_time %> minutes.</strong> Bon appétit!</p>
    <%= link_to 'View my orders', orders_path, class: "btn btn-flat" %>
  </div>
</div>
