<div class="container">
  <%= simple_form_for [@order, @payment] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.simple_fields_for :order, @order do |p| %>
        <%= p.simple_fields_for :user, @user do |q| %>
          <%= render "users_fields", f: q %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <button id="pay" class="btn btn-flat ml-3 mb-3">Pay</button>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @order.checkout_session_id %>'
    });
  });
</script>
